body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;
    background-color: #1c1c1c;
    padding: 5px 0;
}

.messenger-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 900px;
}

/* Стили мессенджера */

/* Сообщения */

.messenger {
    width: 600px;
    border: 1px solid #21062d;
    border-radius: 5px;
    border-color: #535353;
    background-color: #221a1a;
    padding: 15px;
}

.messenger__messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 15px;
    height: 600px;
}

.messenger__messages::-webkit-scrollbar {
    width: 5px;
}

.messenger__messages::-webkit-scrollbar-thumb {
    background: linear-gradient(0, #41004f, #532248);
    border-radius: 3px;
}

.messenger__message {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #c8c8c8;
    word-wrap: break-word;
    background: linear-gradient(210deg, #27002f, #532248);
}

.messenger__message-data {
    text-align: right;
    font-size: 12px;
    color: #707070;
}

.messenger__message-content {}

.messenger__message-geo {
    text-align: right;
    font-size: 12px;
    color: #707070;
}

/* Форма отправки сообщений */

.messenger__new-message-form {
    padding-top: 15px;
    background-color: inherit;
    text-align: center;
}

.messenger__new-message-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background: linear-gradient(200deg, #41004f, #220c1d);
    color: #c8c8c8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border-radius: 5px;
}

.messenger__new-message-textarea:focus {
    outline: none;
}

/* Форма ошибки геолокации */

.geo-fail-wrapper {
    background-color: #0000005f;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.geo-fail {
    margin: 250px auto;
    width: 400px;
    background-color: #220c1d;
    border: 1px solid #535353;
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    position: relative;
}

.geo-fail__header {
    text-align: center;
}

.geo-fail__description {
    text-align: justify;
}

.geo-fail__textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 15px auto;
    background: linear-gradient(30deg, #27002f, #532248);
    border: 1px solid #535353;
    border-radius: 5px;
    text-align: center;
    color: #c8c8c8;
    height: 40px;
}

.geo-fail__textarea:focus {
    outline: none;
}

.geo-fail__textarea::placeholder {
    color: #c8c8c8;
}

.geo-fail__button-wrapper {
    text-align: center;
}

.messenger__button {
    margin: 15px auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    background: linear-gradient(30deg, #27002f, #532248);
    height: 40px;
    border: 1px solid #535353;
    border-radius: 20px;
    color: #c1c1c1;
}

.messenger__button:hover {
    cursor: pointer;
    background: linear-gradient(30deg, #3f004c, #6e2d60);
    transition: background-color 1s;
}

.messenger__button:disabled {
    background: transparent;
    background-color: #707070;
}

.geo-fail__popower-form {
    position: absolute;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: arial;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
    text-align: center;
    background-color: #ffffff;
    color: #000000
  }

.invisible {
    display: none;
}

/* исчезновение placeholder */

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}